@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --header-color: #562EFF;
    --heading-color: #562EFF;
    --title-color: #000000;
    --subtitle-color: #ED6B4F;
    --h1-font: 24px;
    --h2-font: 20px;
    --h3-font: 18px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition: all .3s linear;
}
 .header{
    background-color: var(--header-color);
    color: #fff;
}

.navbar-light .navbar-toggler {
    color: rgb(6 6 6 / 94%);
    border-color: rgb(43 39 39 / 71%);
}
.navbar-nav .nav-item .nav-link{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.navbar-brand img{
    width: 40px;
}
main{
    width: 870px;
    
}
.top-players img{
    width: 56px;
}
.top-players h3{
    font-size: var(--h3-font);
    font-weight: 400;
    color: var(--title-color);
    margin-left: 15px;
    line-height: 27px;
}
main h1{
    font-size: 24px;
    line-height: 36px;
    color: var(--heading-color);
}
main h2, .card-title{
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
.blog-img img{
    width: 300px;
}
.blog-content p{
    font-size: 14px;
    color: #9F9F9F;
}
.blog-content p span{
    color: #562EFF;
}
.card{
    border: none;
    box-shadow: (0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.card-img, .card-img-bottom, .card-img-top {
    width: 270px;
}
.card .card-body .card-text{
    font-size: 14px;
    color: coral;
}
.card-footer .star img, span img {
    width: 15px;
    display: inline;
}
.card-footer .rating {
    color: #A2A2A2;
}

.card-footer .duration {
    color: #FF4A60;
    background: #FFE4E8;
}
.card-footer {
    padding: none;
    background-color: rgba(0,0,0,.03);
    border-top: none;
}
.footer-area{
    height: 50px;
    background-color: rgb(51, 50, 50);
    color: #fff;
}
.footer-area a{
    text-decoration: none;
    color: dodgerblue;
}